<div class="container">
    <div class="col-md-12">
        <div class="row">
            <label for="serverName">Server Name</label>
            <!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)" id="serverName"> -->
            <input type="text" class="form-control" [(ngModel)]="typedServerName">
            <!-- <p>{{ typedServerName }}</p> -->
            <p>{{ 'server' }} with ID {{ serverId }} is {{ serverStatus }}</p>
            <p>{{ 'server' }} with ID {{ serverId }} is {{ getServerStatus() }}</p>
            <button class="btn btn-primary" [disabled]="!serverRunning" (click)='checkServerStatus()'>Click me</button>
            <p [innerText]="serverRunning"></p>
            <p *ngIf="serverName; else noServer">{{ statusOfTheServer }}</p>
            <ng-template #noServer>
                <p>No server created</p>
            </ng-template>
        </div>
    </div>
    
</div>
<hr>
<app-server *ngFor="let server of servers"></app-server>