<div class="container">
    <div class="col-xs-12">
        <div class="row">
            <br>
            <button (click)="removeAdd()">Display Details</button>
            <p [ngClass]="{notVisible : binaryNum === 0}">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <li *ngFor="let item of tempArr;index as i">
                <span [ngClass]="{textCol: i>3}" [ngStyle]="i>3 && {backgroundColor:'blue'}"> {{ item }} </span>
            </li>
        </div>

    </div>
</div>
